<div class="container" ng-app="signup" ng-cloak>

		<h1>Create an Account</h1>
		<div ng-controller="SignupCtrl" class="span4">
			<form ng-disabled="userRegistered" ng-submit="createUser(record)" id="userForm">
				<fieldset>
					<legend>Sign Up Below</legend>
					<div class="well">
						<div>
							<label>Email Address</label> <input required type="email"
								placeholder="your email" ng-model="record.email"
								name="email" id="email" ng-blur="checkUserName()" /> 
								<span ng-show="userNameLoading"><img id="userNameLoading" src="assets/loading-small.gif" style="width: 16px; height: 16px; position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
								<span ng-show="userNameOk"><img id="userNameOk" src="assets/tick.png" title="User name is available!" style="width: 16px; height: 16px; position: absolute; padding-left: 5px; padding-top: 8px;"/></span>
								<span ng-show="userNameExists"><img id="userNameExists" src="assets/exclamation.png" title="User name already exist!" style="width: 16px; height: 16px; position: absolute; padding-left: 5px; padding-top: 8px;"/></span>
						</div>
						<div ng-show="userNameExists" style="color:red">We already have an account with this address.  Would you like to <a href="#/login">login</a>?</div>
						<div class="mandatoryfields">
							If you can see this, do not fill in the following text field
							<input type="text" name="name" ng-model="record.mandatoryfields" />
						</div>
						<div>
							<label>Password</label> <input required type="text"
								ng-model="record.password" name="password" />
						</div>
						<button id="submit" class="btn btn-primary" type="submit"
							ng-disabled="submitting || userNameLoading || userNameExists || userForm.$invalid">
							Sign Up <i style="margin-left: 5px" class="icon-thumbs-up"></i>
						</button>
					</div>
				</fieldset>
			</form>
		</div>
</div>

<script>

</script>
