<div class="inProgress">
    <div class="modal-header">
        Not implemented yet
        <!--<a href="#" class="close" ng-click="close()>x</a>-->
        <div class="close" ng-click="close()">x</div>
    </div>
    <div class="modal-body">
        <div class="">Sorry, the "Bookshelves" and "Narrow Search By" features don't actually work yet, they are just there to show you what's coming.</div>
        <div class="actions right">
            <button type="button" class="btn  btn-info btn-lg" ng-click="close()">Close</button>
        </div>
    </div>
</div>