div.inProgress
    div.modal-header
        | Not implemented yet
        div.close(ng-click="close()") x
    div.modal-body
        div Sorry, most links in the "Bookshelves" and "Narrow Search By" features don't actually work yet, they are just there to show you what's coming.
            |  The 'Featured' link works, and you can also enter key words into the search box to match words in titles and tags.
        div.actions.right
            button.btn.btn-primary(type="button" ng-click="close()") Close
