<div>
    <h1>Books</h1>
    <div class="container">
        <form ng-submit="SearchNow()">
            <div class="input-append">
                <input type="text"  ng-keypress="x()" class="span2" placeholder="Search title, topic, or tag" ng-model="searchTextRaw" />
                <button class='btn' type='submit'>
                    <i class="icon-search"></i>
                </button>
            </div>
        </form>
		<div listview class="results" hide-if-empty="false" item-count="bookCount" page-items-function="getBookRange(first, itemsPerPage)">
            <!--<li class="col-xs-12 col-sm-4 col-md-2" id="Li2"-->
            <div class="result"
                ng-repeat="book in visibleBooks">
                <!-- Was: ng-repeat="book in filteredBooks = (books | filter:matchingBooks) |  startFrom:(currentPage-1)*numPerPage  | limitTo:numPerPage" -->
                <!--                ng-click="viewBook(book)"    >-->
                <div class="imageContainer">
                    <a ui-sref="browse.detail({bookId: book.objectId})">
                        <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" />
                    </a>
                </div>
                <div class="data">
                    <h3 class="firstRowAboutBook">{{book.volumeInfo.title}}
                        <div class="author">{{book.volumeInfo.authors | makeCommaList}}</div>
                    </h3>
                    <div class="secondRowAboutBook">
                        <div class="pages">{{book.volumeInfo.pageCount}} pages</div>
                    </div>
                </div>
                <div class="unfloat"></div>
            </div>
        </div>


    </div>
</div>
