/*Will be compiled down to a single stylesheet with your sass files*/
@filterBarWidth: 235px;
body {
  font-size: small !important;
}
.search {
  margin-left: 20px;
}
h3.bookTitle {
  font-size: 103%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  line-height: 1em;
}
.book-list {
  // Suppress default ul behaviors we don't want
  list-style-type: none;
  padding-inline-start: 0; // recent browsers
  padding-left: 0; // Edge, older FF
}
.author {
  font-weight: 300;
}
.secondRowAboutBook {
}
.filterBar a.disabled {
  color: GrayText;
}
.data {
  display: table;
}
.pages {
}
.topic {
  float: left;
  margin-right: 7px;
}
.imageContainer img {
  text-align: center;
  height: 70px; //Bloom version 2 sets all books to this height
}
.unfloat {
  clear: both;
}
.imageContainer {
  text-align: center;
  position: relative;
  float: left;
  margin-right: 10px;
}
.books {
  list-style-type: none;
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
}
.pagination {
  clear: both;
}
select {
  width: 5em;
}
input.searchInput {
  width: 150px;
  margin: 0px;
  height: 24px;
}
.tag {
  -font-style: italic;
  color: @lightText;
}
a.languageName {
  color: @darkText;
}
.tooltip > .tooltip-inner {
  color: @darkText;
  background-color: @lightGray;
}
.tooltip.right > .tooltip-arrow {
  border-right-color: @lightGray;
}
li .bookInfo {
  font-size: 9pt;
  line-height: 16px;
}
.icon-tag {
  -color: lightgray;
}
.book {
  margin-top: 18px;
  a {
    color: @darkText;
  }
  a:hover .bookInfo *,
  a:focus .bookInfo * {
    color: @darkText;
    text-decoration: none;
  }
  .bookTitle {
    font-weight: bold;
  }
  //There is probably a more elegant way... this is copied from scaffolding.less with the book title added
  a:hover .bookTitle,
  a:focus .bookTitle {
    color: @link-hover-color;
    text-decoration: underline;
  }
}
@organizationMarginShift: 3px;
.filterBar {
  background-color: var(--darkGray);
  .border-bottom-radius(10px);
  .border-left-radius(0px);
  color: @lightGray;
  line-height: 20px;

  li {
    list-style-type: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @lightGray;
    margin-bottom: 0;
    font-weight: bold;
  }
  h1 {
    font-size: 18px;
    margin-block-start: 10px;
  }
  h2 {
    font-size: 14px;
    margin-block-start: 10px;
  }
  a {
    color: @lightGray;
  }
  a:hover {
    color: @bloomRed;
  }
  .clear {
    visibility: hidden;
  }
  div.activeFilter a {
    color: @bloomRed;
  }
  div.activeFilter .clear {
    visibility: visible;
  }
  div.activeFilter a.clear {
    color: @lightGray;
  }
  div.childShelf {
    margin-left: 1em;
    .orgName {
      font-size: smaller;
      margin-top: -@organizationMarginShift;
      margin-bottom: @organizationMarginShift;
      line-height: 1.3em;
    }
  }
}
.bookshelves,
.narrowSearch {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.bookshelves {
  margin-bottom: 20px;
}
.sidebarToggle .btn:focus {
  outline: none;
}
#sidebarToggleClosed {
  position: absolute;
  top: -@navbar-margin-bottom;
  left: 0;
  margin: 1px 0px 0px 1px;
}
.sidebarToggle .icon-caret-left {
  font-size: 24px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
.sidebar-offcanvas {
  top: -@navbar-margin-bottom;
  padding-top: 10px;
  width: @filterBarWidth;
}
// Shouldn't need this, but it isn't working without it for some reason
.sidebar-offcanvas,
.row-offcanvas .rightContainer {
  float: left;
}
@media screen and (max-width: @screen-xs-max) {
  .row-offcanvas {
    position: relative;
    left: 0;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas.active {
    left: @filterBarWidth;
    #sidebarToggleClosed {
      display: none !important;
    }
  }
  .sidebar-offcanvas {
    left: -@filterBarWidth;
    position: absolute;
  }
}

.searchRow {
  .input-group {
    width: 200px;
  }
}

.space-after-book-message {
  height: 5px;
}
