div.container.not-centered
    div.row.row-offcanvas
        aside#sideBar.filterBar.col-md-3.sidebar-offcanvas(ng-show="wantLeftBar" ng-controller="LeftSidebar" role="search" aria-label="guided navigation")
            p.pull-right.visible-xs.sidebarToggle
                button.btn.btn-primary.btn-xs(type="button" data-toggle="offcanvas") &nbsp;
                    i.icon-caret-left
                    | &nbsp;&nbsp;
            ul
                li.bookshelves
                    h1 Bookshelves
                    ul
                        li
                            a.bookshelfItem(href="" ng-click="filterShelf('')") All Books
                        li(ng-repeat="bookshelf in visibleBookshelves")
                            div(ng-class="{activeFilter: currentShelfKey == bookshelf.key, childShelf: bookshelf.isChild}")
                                a.bookshelfItem(href="" ng-click="filterShelf(bookshelf.key)") {{bookshelf.displayName}}
                                a.clear.right(href="" ng-click="filterShelf('','')") Clear
                        li
                            div(ng-class="{activeFilter: currentShelfKey == '$recent'}")
                                a.bookshelfItem(href="" ng-click="filterShelf('$recent')") New Arrivals
                        li
                            div(ng-class="{activeFilter: currentShelfKey == '$myUploads'}")
                                a.bookshelfItem(href="" ng-click="filterMyUploads()" ng-class="{disabled:!isLoggedIn}" tooltip="Log in to enable" tooltip-placement="right" tooltip-trigger="{{{false: 'mouseenter', true: 'never'}[isLoggedIn]}}") My Uploads
                        li(ng-show="otherBookshelves.length")
                            a.notranslate(href="" ng-click="toggleVisibilityOfOtherBookshelves($event)") {{localizeMore(otherBookshelves.length,otherBookshelvesHidden)}}
                            div(id="otherBookshelves" style="display:none")
                                div(ng-repeat="bookshelf in otherBookshelves")
                                    div
                                        div(ng-class="{activeFilter: currentShelfKey == bookshelf.key, childShelf: bookshelf.isChild}")
                                            a.clear.right(href="" ng-click="filterShelf('','')") Clear
                                            a.bookshelfItem(href="" ng-click="filterShelf(bookshelf.key)") {{bookshelf.displayName}}
                                                .orgName(ng-if="bookshelf.orgName && bookshelf.orgName.length > 0") {{bookshelf.orgName}}
                li.narrowSearch
                    h1 Narrow Search
                    h2 Languages
                    ul(ng-repeat="lang in topLanguages")
                        li(ng-class="{activeFilter: currentLang == lang.isoCode}")
                            a.languageItem(href="" ng-click="filterLanguage(lang.isoCode,lang.name)" tooltip="{{lang.englishName != lang.name ? lang.englishName : ''}}" tooltip-placement="right" tooltip-trigger="{{'mouseenter'}}") {{lang.name}}
                            a.clear.right(href="" ng-click="filterLanguage('','')") Clear
                    div(ng-show="otherLanguages.length")
                        a.notranslate(href="" ng-click="toggleVisibilityOfOtherLanguages($event)") {{localizeMore(otherLanguages.length,otherLanguagesHidden)}}
                        div(style="display:none")
                            ul(ng-repeat="lang in otherLanguages")
                                li(ng-class="{activeFilter: currentLang == lang.isoCode}")
                                    a.languageItem(href="" ng-click="filterLanguage(lang.isoCode,lang.name)" tooltip="{{lang.englishName != lang.name ? lang.englishName : ''}}" tooltip-placement="right" tooltip-trigger="{{'mouseenter'}}") {{lang.name}}
                                    a.clear.right(href="" ng-click="filterLanguage('','')") Clear
                    h2 Features
                    ul.features
                        li.blind.feature
                            input(id="feature_blind" type="checkbox" ng-click="toggleFeature('blind')" ng-checked="{{isActiveFeature('blind')}}")
                            label(for="feature_blind" ng-class="{activeFilter: isActiveFeature('blind')}") Accessible to the Blind
                        li.signLanguage.feature
                            input(id="feature_signLanguage" type="checkbox" ng-click="toggleFeature('signLanguage')" ng-checked="{{isActiveFeature('signLanguage')}}")
                            label(for="feature_signLanguage" ng-class="{activeFilter: isActiveFeature('signLanguage')}") Includes Sign Language Videos
                    ul(ng-repeat="category in tagCategories")
                        li(ng-show="tags[category.id].top.length")
                            h2 {{category.displayName}}
                            ul(ng-repeat="tag in tags[category.id].top")
                                li(ng-class="{activeFilter: currentTag == tag.id}")
                                    a.tagItem(href="" ng-click="filterTag(tag.id)") {{tag.displayName}}
                                    a.clear.right(href="" ng-click="filterTag('')") Clear
                            div(ng-show="tags[category.id].other.length")
                                a.notranslate(href="" ng-click="toggleVisibilityOfOtherTopics($event)") {{localizeMore(tags[category.id].other.length,otherTopicsHidden)}}
                                div(style="display:none")
                                    ul(ng-repeat="tag in tags[category.id].other")
                                        li(ng-class="{activeFilter: currentTag == tag.id}")
                                            a.tagItem(href="" ng-click="filterTag(tag.id)") {{tag.displayName}}
                                            a.clear.right(href="" ng-click="filterTag('')") Clear
        div.rightContainer.col-sm-8.col-md-9
            p#sidebarToggleClosed.pull-left.visible-xs.sidebarToggle
                button.btn.btn-primary.btn-xs(type="button" data-toggle="offcanvas") Filters&nbsp;
                    i.icon-caret-right
            div.mainContent
                div.container-fluid
                    div#bookshelfHeader(ng-include="bookshelfHeaderHtmlSrc")
                    div#bookshelfHeaderSpacer.unfloat
                    div.searchRow.row
                        div.col-md-6(style="padding-bottom:10px")
                            div(ng-show="initialized")
                                div.notranslate {{bookMessage}}
                                div(ng-show="numHiddenBooks || bookCount!=0")
                                    div.space-after-book-message
                                    div(ng-show="numHiddenBooks")
                                        span.needed-for-localization.notranslate {{hiddenBooksMessage}}
                                        | &nbsp;
                                        a(href="" ng-click="toggleAllLicenses()") {{hiddenBooksToggleMessage}}
                            div(ng-show="!initialized") Searching...
                        div.col-md-6(style="padding-bottom:10px")
                            form(ng-submit="SearchNow()" role="search")
                                div.input-group
                                    input.form-control.border-inverse(type="text" ng-keypress="x()" placeholder="Search title or tag" ng-model="searchTextRaw" aria-label="Search text" tx-attrs="aria-label")/
                                    span.input-group-btn
                                        button.btn.btn-inverse(type="button" ng-click="SearchNow()" aria-label="Search now" tx-attrs="aria-label")
                                            i.icon-search
                    div(ng-hide="bookCount==0")
                        ul.books.row(listview hide-if-empty="true" item-count="bookCount" page-items-function="getBookRange(first, itemsPerPage)" page-count-tag="browseView")
                            li.book.col-md-6(ng-repeat="book in visibleBooks")
                                a(ui-sref="browse.detail({bookId: book.objectId})")
                                    div.imageContainer
                                        img(ng-src="{{book.baseUrl | makeThumbnailUrl}}" alt="cover thumbnail")/
                                    div.bookInfo
                                        h3.bookTitle.notranslate {{book.title}}
                                        div.languages(ng-show="book.langPointers.length")
                                            span(ng-repeat="lang in book.langPointers")
                                                span.needed-for-translation {{lang.name}}
                                                span.needed-for-translation(ng-hide="$last") ,&nbsp;
                                        div.tags(ng-show="book.tags.length")
                                            span.tag(ng-repeat="tag in book.tags")
                                                span.needed-for-translation {{tag | getDisplayName | getCleanBookshelfName}}
                                                span.needed-for-translation(ng-hide="$last") ,&nbsp;
                                    div.unfloat
