<div class="container not-centered">
    <div class="row row-offcanvas">
        <div ng-show="wantLeftBar" ng-controller="LeftSidebar" class="filterBar col-md-3 sidebar-offcanvas" id="sideBar">
            <p class="pull-right visible-xs sidebarToggle">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">&nbsp;<i class="icon-caret-left"></i>&nbsp;&nbsp;</button>
            </p>
            <div class="bookshelves">
                <h4>Bookshelves</h4>
                <div><a class="bookshelfItem" href="" ng-click="filterShelf('')">All Books</a></div>
                <div><div ng-class="{activeFilter: currentShelf == 'Featured'}"><a class="bookshelfItem" href="" ng-click="filterShelf('Featured')">Featured</a></div></div>
                <div><div ng-class="{activeFilter: currentShelf == '$recent'}"><a class="bookshelfItem" href="" ng-click="filterShelf('$recent')">New Arrivals</a></div></div>
                <div><div ng-class="{activeFilter: currentShelf == '$myUploads'}">
                    <a class="bookshelfItem" href="" ng-click="filterMyUploads()" ng-class="{disabled:!isLoggedIn}" tooltip="Log in to enable" tooltip-placement="right" tooltip-trigger="{{{false: 'mouseenter', true: 'never'}[isLoggedIn]}}">My Uploads</a></div></div>
            </div>
            <div class="narrowSearch">
                <h4>Narrow Search</h4>
                <h5>Languages</h5>
                <div ng-repeat="lang in topLanguages"><div ng-class="{activeFilter: currentLang == lang.isoCode}"><a class="languageItem" href="" ng-click="filterLanguage(lang.isoCode)" tooltip="{{lang.englishName != lang.name ? lang.englishName : ''}}" tooltip-placement="right" tooltip-trigger="{{'mouseenter'}}">{{lang.name}}</a><a class="clear right" href="" ng-click="filterLanguage('')">Clear</a></div></div>
                <div ng-show="otherLanguages.length">
                    <div style="height:5px;"></div>
                    <a href="" ng-click="toggleNext($event)">({{otherLanguages.length}} more...)</a>
                    <div style="display:none">
                        <div ng-repeat="lang in otherLanguages"><div ng-class="{activeFilter: currentLang == lang.isoCode}"><a class="languageItem" href="" ng-click="filterLanguage(lang.isoCode)" tooltip="{{lang.englishName != lang.name ? lang.englishName : ''}}" tooltip-placement="right" tooltip-trigger="{{'mouseenter'}}">{{lang.name}}</a><a class="clear right" href="" ng-click="filterLanguage('')">Clear</a></div></div>
                    </div>
                </div>
                <div ng-repeat="category in tagCategories">
                    <div ng-show="tags[category.id].top.length">
                        <h5>{{category.displayName}}</h5>
                        <div ng-repeat="tag in tags[category.id].top"><div ng-class="{activeFilter: currentTag == tag}"><a class="tagItem" href="" ng-click="filterTag(tag)">{{tag | interpretTag}}</a><a class="clear right" href="" ng-click="filterTag('')">Clear</a></div></div>
                        <div ng-show="tags[category.id].other.length">
                            <div style="height:5px;"></div>
                            <a href="" ng-click="toggleNext($event)">({{tags[category.id].other.length}} more...)</a>
                            <div style="display:none">
                                <div ng-repeat="tag in tags[category.id].other"><div ng-class="{activeFilter: currentTag == tag}"><a class="tagItem" href="" ng-click="filterTag(tag)">{{tag | interpretTag}}</a><a class="clear right" href="" ng-click="filterTag('')">Clear</a></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightContainer col-md-9">
            <p class="pull-left visible-xs sidebarToggle" id="sidebarToggleClosed">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Filters <i class="icon-caret-right"></i></button>
            </p>
            <div class="mainContent">
                <div class="container-fluid">
                    <div class="searchRow row">
                        <div class="col-md-6" style="padding-bottom:10px">
                            <div ng-show="initialized">{{bookMessage}}</div>
                            <div ng-show="!initialized">Searching...</div>
                        </div>
                        <div class="col-md-6" style="padding-bottom:10px">
                            <form ng-submit="SearchNow()">
                                <div class="input-group">
                                    <input type="text" ng-keypress="x()" class="form-control border-inverse" placeholder="Search title or tag" ng-model="searchTextRaw" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="button" ng-click="SearchNow()"><i class="icon-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-hide="bookCount==0">
                        <ul listview class="books row" hide-if-empty="true" item-count="bookCount" page-items-function="getBookRange(first, itemsPerPage)" page-count-tag="browseView">
                            <!--<li class="col-xs-12 col-sm-4 col-md-2" id="Li2"-->
                            <li class="book col-md-6" ng-repeat="book in visibleBooks">
                                <!-- Was: ng-repeat="book in filteredBooks = (books | filter:matchingBooks) |  startFrom:(currentPage-1)*numPerPage  | limitTo:numPerPage" -->
                                <!--                ng-click="viewBook(book)"    >-->
                                <a ui-sref="browse.detail({bookId: book.objectId})">
                                    <div class="imageContainer">
                                        <img ng-src="{{book.baseUrl | makeThumbnailUrl}}" />
                                    </div>
                                    <div class="bookInfo">
                                        <!-- <a ui-sref="browse.detail({bookId: book.objectId})">-->
                                        <h3 class="bookTitle">{{book.title}}</h3>
                                        <!--</a>-->
                                        <!--<div class="secondRowAboutBook">
                                        <div class="pages">{{book.pageCount}} pages</div>
                                        </div>-->
                                        <div class="languages" ng-show="book.langPointers.length">
                                            <!--Languages:--> <span ng-repeat="lang in book.langPointers">
                                                <!--<a class="languageName" ng-href="http://www.ethnologue.com/language/{{lang.ethnologueCode}}" target="_blank">{{lang.name}}</a>-->
                                                {{lang.name}}<span ng-hide="$last">, </span>
                                            </span>
                                        </div>
                                        <div class="tags" ng-show="book.tags.length">
                                            <span class="tag" ng-repeat="tag in book.tags">{{tag | interpretTag}}<span ng-hide="$last">, </span></span>
                                        </div>
                                    </div>
                                    <div class="unfloat"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>