/*Will be compiled down to a single stylesheet with your sass files*/
.spanSignup {
  width: 270px; /* input is 220; well has padding 25+4; need 21 for icons sometimes right of inputs; want even spacing around*/
}

.loginRoot
{
  width: 239px; // what the well in the signup works out to.
}

div.signupButton
{
  margin-right: 26px; /* somehow makes it align with inputs */
  margin-top: 30px; /* puts it below right-aligned show password checkbox */
}
div.loginButton
{
  margin-right: 26px; /* somehow makes it align with inputs */
  margin-top: 10px; /* less than signup button because relative to 'forgot password' */
}
div.password
{
  margin-bottom: 0px;
}

div.resetPw
{
  min-height: 20px;
}
div.showPassword
{
  margin-right:25px;
  margin-top: 0px;
}
button.signupBtn {
  float:right;
}
div.showPassInput {
  font-size: smaller;
  background-color: #d3d3d3;
  color: white;
  float:right;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 3px;
}

input.passwordInput {
  margin-bottom: 0px;
  border-bottom-right-radius: 0px;
}
div.well {
  overflow: hidden; /* stretch around button even though it is float: right */
  padding: 25px;
  padding-right: 4px; /* reduced to fit 21px icon right of email */
}

div.agreeTerms {
  margin-top: 70px; // puts it below the sign up button
}