<div class="errorMessage">
    <div class="modal-header">
        An Error Occurred
        <div class="close" ng-click="close()">x</div>
    </div>
    <div class="modal-body">
        <p>Oops.  We're sorry, but it looks like the Bloom site is having a problem.</p>
        <p>Someone on the Bloom technical team has been notified and is trying to find a solution.</p>
        <p>However, this is likely a temporary problem, and you can try again in a couple minutes.</p>
        <div class="actions right">
            <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </div>
</div>