mixin space
  = ' '

mixin link(href, target)
  +space
  +link-without-space(href, target)
    block

mixin link-followed-by-space(href, target)
  +link(href, target)
    block
  +space

mixin link-without-space(href, target)
  if(attributes.id)
    a(id!=attributes.id href=href target=target)
      block
  else
    a(href=href target=target)
      block
