div
    // pull in the body of what we are wrapping the list function around, from the caller
    ul.book-list(ng-transclude)
    div.unfloat
    div.pagination(ng-hide="noOfPages==1")
        // The page index is a list inside a div (entirely hidden if only one page)
        ul
            li.previous(ng-class="{disabled: currentPage == 1}")
                a(href="" ng-click="prevPage()") Prev
            // repeat this for all page buttons
            li.page-number(ng-repeat="n in pageButtons" ng-class="{'active': n == currentPage, 'first': n == 1}" ng-click="setPage()")
                // ellipsis is shown for 0 in pageButtons array, inserted where there is a gap
                span(ng-hide="n!= 0") ...
                // regular buttons appear when n is not zero. I don't know how the 1 becomes n.
                a(href="" ng-hide="n==0" ng-bind="n") 1
            li.next(ng-class="{disabled: currentPage == noOfPages}")
                a(href="" ng-click="nextPage()") Next
    div.single-page-spacer(ng-hide="noOfPages>1")
    div.itemsPerPage
        // If the text is not wrapped in a span, the entire contents will be replaced when transifex translates it. This breaks the ng-model binding.
        label.needed-for-localization(for="itemsPerPage") Items per page:
        = ' '
        select.notranslate(ng-model="itemsPerPage" id="itemsPerPage")
            option(selected value="10") 10
            option(value="24") 24
            option(value="50") 50
            option(value="100") 100
