<div> <!--template must have one top-level element.-->
    <div ng-transclude></div> <!-- pulls in the body of what we are wrapping the list function around, from the caller -->
    <div class="pagination" ng-hide="noOfPages==1"> <!-- The page index is a list inside a div (entirely hidden if only one page) -->
        <ul>
            <li class="previous" ng-class="{disabled: currentPage == 1}"><a href ng-click="prevPage()">Prev</a></li> <!-- the previous page button -->
            <li class="page-number" ng-repeat="n in pageButtons" ng-class="{'active': n == currentPage, 'first': n == 1}" ng-click="setPage()"> <!-- repeat this for all page buttons -->
                <span ng-hide="n!= 0">...</span> <!-- ellipsis is shown for 0 in pageButtons array, inserted where there is a gap -->
                <a href ng-hide="n==0" ng-bind="n">1</a> <!-- regular buttons appear when n is not zero. I dont know how the 1 becomes n. -->
            </li> <!-- end of the repeating li for items in pageButtons -->
            <li class="next" ng-class="{disabled: currentPage == noOfPages}"><a href ng-click="nextPage()">Next</a></li> <!-- Next page button -->
        </ul>
    </div> <!-- ends page index -->
    <div class="itemsPerPage">Items per page:
        <select ng-model="itemsPerPage"> <!-- items-per-page control -->
            <option selected value="10">10</option>
            <option value="24">24</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>