/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Colors
 */
@lightGray: #E5E5E5;
@darkGray: #333333;
@bloomRed: #D65649;
@navbarBackground: @darkGray;
@navbarBackgroundHighlight: @navbarBackground;
@navbarLinkColorActive: @bloomRed;
@navbarLinkColorHover: @navbarLinkColorActive;
@navbarLinkColor: @lightGray;
@navbarLinkBackgroundActive: @navbarBackground;

@btnPrimaryBackground: @bloomRed;

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

