a {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mandatoryfields {
  display: none;
}

.separator { margin-left:20px; visibility:hidden;}

/* this group (down to page-wrap:after) are used to implement the sticky footer, using ideas from http://codepen.io/chriscoyier/pen/uwJjr */
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to page-wrap:after height */
  margin-bottom: -42px;
}
.page-wrap:after {
  content: "";
  display: block;
  clear: both;
  /* equal to page-wrap margin-bottom */
  height: 42px;
}

div.footerLinks {
  float: right;
}
div.footerLinks a.active {
  color: @bloomRed;
}

div.notices {
  margin: 0px 0px 10px 10px;
}

div.staticPage {
  width: 900px;
  margin-left: 60px;
  margin-right: 60px;
}
div.container.not-centered {
  margin-left: 0;
  margin-right: 0;
}

.navbar li.enlarge.active a {
  font-size: 36px;
  margin-top: -5px;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  box-shadow: none;
}
.navbar-inner {
  .border-radius(0);
}
.site-header .navbar ul.nav {
  margin: 9px 0px 0px 50px;
}
.dropdown-menu {
  background-color: @darkGray;
}
.dropdown-menu > li > a {
  color: @lightGray;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a.site-header a {
  color: @bloomRed;
  background-color: @darkGray;
  background-image: none;
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom-color: @bloomRed;
}
.site-header {
  color: @navbarLinkColor;
  font-size: 18px;
}
.site-header .user {
  margin: 15px 35px 0px 0px;
}
.site-header .navbar-inner {
  border-bottom: 0px;
}
.site-footer {
  padding: 10px 25px 10px 10px;
}
.site-footer a {
  color: @darkGray;
}
.site-footer a:hover, .site-footer a:focus {
  color: @bloomRed;
}

.carousel {
  background-color: @darkGray;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.staticPage a.carousel-control {
  color: @lightGray;
}
.carousel-indicators li {
  cursor: pointer;
}