html {
  overflow-x: hidden;
}
body {
  margin: 0;
}
a {
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mandatoryfields {
  display: none;
}
.separator {
  margin-left: 20px;
  visibility: hidden;
}
div.footerLinks {
  float: right;
  a {
    color: @darkText;
  }
  a:hover {
    color: @bloomRed;
  }
  a.active {
    color: @bloomRed;
  }
}
div.notices.active {
  margin: 0px 10px 10px 60px;
  .shiftRight {
    margin-left: 240px;
  }
}
div.alert {
  //border: 2px outset @bloomRed;
  padding: 3px 5px;
  background: lightyellow;
}
div.staticPage {
  max-width: 900px;
  margin-left: 60px;
  margin-right: 60px;
}
div.container.not-centered {
  margin-left: 0;
  margin-right: 0;
}
@site-header-font-size: 16px;
.site-header .navbar {
  border: none;
  border-radius: 0;
}
@media (min-width:@grid-float-breakpoint) {
  .navbar li.enlarge.active a {
    font-size: @site-header-font-size * 1.75;
    margin-top: -4px;
  }
}
@media (min-width:@grid-float-breakpoint) {
  .site-header .navbar ul.nav {
    margin-top: (@navbar-padding-vertical * 2) + 23px;
  }
}
.site-header {
  color: @navbar-inverse-color;
  font-size: @site-header-font-size;
  @media (min-width:@grid-float-breakpoint) {
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.site-header .user {
  position: absolute;
  top: -15px;
  right: 0;
  padding-right: 15px;
  @media (max-width:@grid-float-breakpoint-max) {
    display: none;
  }
}
.site-header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.site-header .navbar-brand img {
  margin: 10px 0px;
}
// The following makes a smoother transition when using two collapsible navbars
@media (max-width:@grid-float-breakpoint-max) {
  .navbar-nav.navbar-collapse {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/*
 * Sticky footer
 */
@footerHeight: 42px;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: @footerHeight;
}
.site-footer {
  padding: 10px 25px 10px 10px;
  height: @footerHeight;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.carousel {
  background-color: @darkGray;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.staticPage a.carousel-control {
  color: @lightGray;
}
.carousel-indicators li {
  cursor: pointer;
}
.form-control.border-inverse {
  border-color: @btn-inverse-border;
}

.pagination ul {
  padding-left: 0;
}