<div class="confirmRelateDialog">
    <div class="modal-header">
        <b><i>{{mainBook.title}}</i></b> Is Already Related To Other Books!
        <!--<a href="#" class="close" ng-click="close()>x</a>-->
        <div class="close" ng-click="close()">x</div>
    </div>
    <div class="modal-body">
        <div>A relationship already exists between <b><i>{{mainBook.title}}</i></b> and these other books:</div>
        <div class="notranslate" ng-repeat="book in books"><b><i>{{book.title}}</i></b> by {{book.uploader}}</div>
        <br>
        <div>If you want to incorporate all of these books into the current relationship, click "Continue."</div>
        <div class="actions right">
            <button type="button" class="btn btn-primary" ng-click="relateBooks()">Continue</button>
            <button type="button" class="btn" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>