<div class="mainContent">
    <div class="container-fluid">
        <div ng-hide="isUserAdministrator">This is an advanced feature of Bloom Librari intended mainly for experts. Some controls work only for administrators.</div>
        <div class="gridStyle notranslate" ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-edit ui-grid-cellNav ui-grid-auto-resize></div>
    </div>
    <script type="text/ng-template" id="related-books-template">
        <div class="notranslate">
            <tags-input ng-model="row.entity.relBooks" ng-focus="grid.appScope.popOut($event)" ng-blur="grid.appScope.popIn($event)"
                        placeholder="Add Related Book"
                        template="book-info-tag-template"
                        on-tag-added="grid.appScope.onRelatedBookAdded($tag, row.entity)"
                        on-tag-removed="grid.appScope.saveBookRowRelationship(row.entity)"
                        replace-spaces-with-dashes="false"
                        add-from-autocomplete-only="true">
                <auto-complete source="grid.appScope.autoCompleteBook($query, row.entity)"
                               min-length="0"
                               load-on-focus="true"
                               load-on-empty="true"
                               max-results-to-show="100" style="z-index: 2000"
                               select-first-match="true" template="book-info-autocomplete-template"></auto-complete>
            </tags-input>
        </div>
    </script>
    <script type="text/ng-template" id="book-info-tag-template">
        <span tooltip-html="true"
              tooltip-placement="bottom"
              tooltip-html-unsafe="Uploader: {{data.uploader}}<br>Languages: {{data.languages}}<br>{{data.copyright}}">{{data.title}}</span>
        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </script>
    <script type="text/ng-template" id="book-info-autocomplete-template">
        <img ng-src="{{data.imgUrl}}" height="70" width="49" style="float:left; width:49px; height:70px; padding-right:5px;"/>
        <span style="word-wrap: break-word;"><b><i>{{data.title}}</i></b></span>
        <br>
        <span>Uploader: {{data.uploader}}</span>
        <br>
        <span>Languages: {{data.languages}}</span>
        <br>
        <span>{{data.copyright}}</span>
    </script>
</div>