.modal-dialog
	.modal-content
		.modal-body
			h1 Almost there...
			P You are about to download&nbsp;
				span.downloadTitle {{book.title}}
				|&nbsp;so that you can use it locally on your computer.
			div(ng-show='isWindows')
				P For this to work, you'll need a recent version of the&nbsp;
					a(href='#/download') Bloom Desktop Application
					| .
				P When you are ready to proceed, click the Download button.
					| Your Browser will ask whether it is OK to have Bloom open a link. Sure it is!


				input(type='checkbox', ng-model='skipDownloadPage')
				//fixme: clicking this doesn't update the checkbox:  a(ng-model='skipDownloadPage') I get it. Don't show me this again.
				| I get it. Don't show me this again.
			div(ng-hide='isWindows')
				P Sorry, the Bloom Desktop program only runs on Windows at the moment. A Linux version will be available in September 2014.
			.modal-footer
				a.cancelBookDownload(ng-click='cancel()') Cancel
				a(ng-href='{{book.bookOrder}}', ng-show='isWindows')
					button#Continue.btn.btn-primary(type='button') Download
