.modal-dialog
	.modal-content
		.modal-body
			h1 Here it comes!
			P Bloom should run, download the book, and allow you to add it to your collection.
		.modal-footer
			a.pull-left(ui-sref="browse.detail.downloadBook.preflight")
				| Try downloading it again
			a.pull-right(ui-sref="browse")
					button.btn.btn-primary(type='button') Return to the Library
