.modal-dialog
	.modal-content
		.modal-body
			h1 Almost there...
			P You are about to download&nbsp;
				span.downloadTitle {{book.title}}
				| &nbsp;into the&nbsp;
				a(href='#/download') Bloom Desktop Application, Version 2
				| &nbsp;, which you need to already have installed on your computer.
			div(ng-show='isWindows')

			//P Now, your Browser is going ask whether it is OK to have Bloom open a link. Sure it is!

			input(type='checkbox', ng-model='skipDownloadPreflight')
			//fixme: clicking this doesn't update the checkbox:  a(ng-model='skipDownloadPreflight') I get it. Don't show me this again.
			| I get it. Don't show me this again.
			div(ng-hide='isWindows')
				P Sorry, the Bloom Desktop program only runs on Windows at the moment. A Linux version will be available in September 2014.
			.modal-footer
				a.cancelBookDownload(ng-click='cancel()') Cancel
				//a(ng-href='{{book.bookOrder}}', ng-show='isWindows')
				//a(ng-click="continueDownload()", ng-show='isWindows')
				a(ui-sref="browse.detail.downloadBook.hereItComes", ng-show='isWindows')
					button#Continue.btn.btn-primary(type='button') Download Book
