
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div>
        <h1>Almost there...</h1>
        <P>You are about to download <span class="downloadTitle">{{book.title}}</span> into the Bloom Desktop Application. You need to have&nbsp;<a href="#/installers">Bloom version 2 or higher</a> already installed on your computer.
        </P>
        <input type="checkbox" ng-model="skipDownloadPreflight"/>
        <!--fixme: clicking this doesn't update the checkbox:  a(ng-model='skipDownloadPreflight') I get it. Don't show me this again.-->I get it. Don't show me this again.
      </div>
      <div class="modal-footer"><a ng-click="cancel()" class="cancelBookDownload">Cancel</a>
        <!--This comment forces some whitespace between anchors which prevents strange line on hover--><a ui-sref="browse.detail.downloadBook.hereItComes">
          <button id="Continue" type="button" class="btn btn-primary">Download Book</button></a>
      </div>
    </div>
  </div>
</div>