.modal-dialog
	.modal-content
		.modal-body
			div
				h1 Almost there...
				P You are about to download
					= ' '
					span.downloadTitle {{book.title}}
					|  into the Bloom Desktop Application. You need to have&nbsp;
					a(href='#/installers') Bloom version 2 or higher
					|  already installed on your computer.
				input(type='checkbox', ng-model='skipDownloadPreflight')
				//fixme: clicking this doesn't update the checkbox:  a(ng-model='skipDownloadPreflight') I get it. Don't show me this again.
				| I get it. Don't show me this again.
			.modal-footer
				a.cancelBookDownload(ng-click='cancel()') Cancel
				//This comment forces some whitespace between anchors which prevents strange line on hover
				a(ui-sref="browse.detail.downloadBook.hereItComes")
					button#Continue.btn.btn-primary(type='button') Download Book
