div.deleteDialog
    div.modal-header
        | Are you sure?
        div.close.notranslate(ng-click="close()") x
    div.modal-body
        div.delete-body
            | If you continue, this version of the book
            = ' '
            span.bookName.notranslate {{book.title}}
            |  will be removed from BloomLibrary.org.
            | There is no way to undo this except by uploading it again.
        div.actions.right.delete-actions
            button.btn(type="button" ng-click="deleteBook()") Permanently delete this book
            button.btn.btn-primary(type="button" ng-click="close()") Cancel
