div.modal-dialog
    // "modal-___" are bootstrap classes used to create the modal look
    // We explicitly use these classes for all the pages which look like modals but aren't
    // such as Log In, Sign Up, Here It Comes, and the download preflight
    div.modal-content
        div.detail
            div.modal-header
                .returnToLibrary
                    a(ui-sref="browse")
                        <i class="material-icons">arrow_back</i>&nbsp;&nbsp;Return to the Library
            div.modal-body(role="dialog" aria-label="Details of the book")
                div.main
                    div.detailCol1
                        img.book-cover(ng-src="{{book.baseUrl | makeDetailSizedThumbnailUrl}}" alt="Cover thumbnail")
                    div.detailCol2.largeScreenOnly
                        h1.title.notranslate {{book.title}}
                        div.summary(ng-hide="!book.summary")
                            span.fori18n Summary:
                            = ' '
                            span.notranslate {{book.summary}}
                        div.detailPages.largeScreenOnly
                            span.fori18n Pages:
                            = ' '
                            span.notranslate {{book.pageCount}}
                        div.largeScreenOnly.languages(ng-show="book.langPointers.length")
                            span.fori18n Languages:
                            = ' '
                            span(ng-repeat="lang in book.langPointers")
                                a(ng-href="{{lang.href}}" target="_blank") {{lang.name}}
                                span(ng-hide="$last") ,
                                    = ' '
                        div.largeScreenOnly.copyright.notranslate {{book.copyright}}
                        div.largeScreenOnly.license
                            span.fori18n License:
                            = ' '
                            span.notranslate
                                = ' '
                                a(href="javascript:void(null);" ng-click="showLicense()") {{book.license}}
                                span(ng-hide="!book.licenseNotes") . (
                                | {{book.licenseNotes}}
                                span(ng-hide="!book.licenseNotes") )
                        div.status
                            // Don't use updatedAt here because it is changed by things other than uploading, for example, when the librarian adds a tag (BL-2737).
                            span.fori18n Uploaded:
                            = ' '
                            span.notranslate {{book.createdAt | cleanDate}}
                            = ' '
                            span.fori18n by
                            = ' '
                            span.notranslate
                                a(ng-show="canReportViolation" href="mailto:{{book.uploader.username}}?subject=A%20request%20about%20a%20book%20you%20contributed%20to%20bloomlibrary.org:%20{{book.title}}%20({{book.objectId}})&body=This%20book%20may%20be%20found%20at%20{{location}}.") {{book.uploader.username | obfuscate}}
                                a(ng-hide="canReportViolation" href="" ng-click="showPleaseLogIn()") {{book.uploader.username | obfuscate}}
                        div.largeScreenOnly.tags(ng-show="book.tags.length")
                            span.fori18n Tags:
                            = ' '
                            span(ng-repeat="tag in book.tags")
                                i.icon-tag(tx-content="exclude")
                                span(tx-content="include") {{tag | getDisplayName | getCleanBookshelfName}}
                                span(ng-hide="$last")
                                    = ' '
                        .downloadSize(ng-show="downloadSize")
                            span.notranslate {{downloadSize | addMbLabel}}
                        div.largeScreenOnly.relatedBooks(ng-show="book.relatedBooks")
                            span.fori18n Related Books:
                            = ' '
                            span.notranslate(ng-repeat="relBook in book.relatedBooks")
                                a(ui-sref="browse.detail({bookId: relBook.objectId})") {{relBook.title}}
                                span(ng-hide="$last") ,
                                    = ' '
                        div.unfloat
                    .actions
                        a.largeScreenOnly(tabIndex="-1" ng-hide="canReportViolation" href="" ng-click="showPleaseLogIn()" aria-label="Report a concern about this book")
                            i.abuseIcon(ng-attr-tabIndex="{{canReportViolation ? -1  : 0}}" tooltip="{{showTooltips? 'Report a concern about this book':''}}" tooltip-placement="right")
                        a.largeScreenOnly(tabIndex="-1" ng-show="canReportViolation" ui-sref="browse.detail.reportbook" aria-label="Report a concern about this book")
                            i.abuseIcon(ng-attr-tabIndex="{{canReportViolation ? 0 : -1}}" tooltip="{{showTooltips? 'Report a concern about this book':''}}" tooltip-placement="right")
                        a.largeScreenOnly(tabIndex="-1" href="" ng-click="showDeleteDialog()" aria-label="Delete this book")
                            i(ng-attr-tabIndex="{{canModifyBook ? 0 : -1}}" tooltip="{{showTooltips? 'Delete this book':''}}" tooltip-placement="right" ng-class="{'icon-trash': true, 'icon-hidden':!canModifyBook}")

                        a.read(ng-show="showRead" tabIndex="-1" ng-click="goToRead()" tooltip="{{showTooltips? 'Read now in your browser':''}}" analytics-on analytics-event="GetBook" analytics-book="{{book.objectId}}" analytics-type="read")
                            button.btn.btn-primary(type="button")
                                //- helpful for multiline button formatting (see less)
                                .iconAndLabel
                                    img.icon(src="/assets/readIcon.svg")
                                    span Read
                    .downloads
                        a.shellbook.desktopOnly(tabIndex="-1" ng-click="onDownloadShell(book)" tooltip="{{showTooltips? 'Download to the Bloom software on your computer, so that you can use it as a shell book.':''}}" analytics-on analytics-event="GetBook" analytics-book="{{book.objectId}}" analytics-type="shell")
                            button.btn.btn-default(type="button")
                                //- helpful for multiline button formatting (see less)
                                span
                                    .subtext Make a version in <em>your</em> language!
                                    img.icon(src="/assets/shellDownloadIcon.svg")
                                    span Download into Bloom Editor
                        .download-buttons

                            a(ng-hide="showHarvestedPdf" ng-href="{{pdfPreviewUrl}}" target="_blank" analytics-on analytics-event="GetBook" analytics-book="{{book.objectId}}" analytics-type="pdf-nonharvested")
                                img(src="/assets/pdf.png" alt="Download PDF")

                            a(ng-show="showHarvestedPdf" ng-href="{{pdfDownloadUrl}}" target="_blank" download="{{book.title}}" analytics-on analytics-event="GetBook" analytics-book="{{book.objectId}}" analytics-type="pdf")
                                img(src="/assets/pdf.png" alt="Download PDF")

                            a(ng-show="showEpub" ng-href="{{epubUrl}}" download="{{book.title}}" analytics-on analytics-event="GetBook" analytics-book="{{book.objectId}}" analytics-type="epub")
                                img(src="/assets/epub.png" alt="Download ePUB")

                            a.hideOnIOS.bloomReaderDownload(ng-show="showBloomReader" tabIndex="-1" ng-href="{{digitalDownloadUrl}}" tooltip="Use with Bloom's companion Android app, Bloom Reader" download="{{book.title}}" analytics-on analytics-event="GetBook" analytics-book="{{book.objectId}}" analytics-type="bloomd")
                                img(src="/assets/bloomd.png" alt="Download version for Bloom Reader app")
                                div Bloom Reader

                        .playStore.hideOnIOS
                            //- h2 Get Bloom Reader
                            a(ng-show="showBloomReader" href='https://play.google.com/store/apps/details?id=org.sil.bloom.reader&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
                                img(alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png')
            #harvestPanelWrapper.hidden
                #harvestPanel
