@icon-button-size: 18px;
@icon-button-size-large: 50px;
@image-width: 180px;
@image-right-margin: 16px;
@button-horizontal-spacing: 7px;
@modal-dialog-margin-left: 15px;
@phoneMinWidth: 500px;

@media (max-width: @phoneMinWidth) {
  .largeScreenOnly {
    display: none !important;
  }
}
@media (pointer: coarse) {
  .desktopOnly {
    display: none !important;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  .hideOnIOS {
    display: none !important;
  }
}

.modal-body {
  padding-top: 0px;
  margin-top: 17px;
  margin-left: @modal-dialog-margin-left;
  margin-right: 17px;
  overflow: hidden;
}

.modal-header {
  margin-left: @modal-dialog-margin-left;
}

.deleteConfirm .modal-dialog {
  width: 450px;
}

.modal-dialog {
  .detail img.book-cover {
    width: @image-width;
  }
  .detailCol1 {
    display: inline-block;
    margin-right: @image-right-margin;
    vertical-align: top;
  }
  .title {
    color: #000000;
    font-size: 16pt;
    margin-top: -2px;
    line-height: 1;
  }
  .summary {
    margin-top: 11px;
  }
  .relatedBooks {
    margin-top: 11px;
  }
}
#previewTitle {
  i.icon-info-sign {
    font-size: 5em;
    margin-right: 12px;
    position: relative;
    top: -4px;
  }
  td div:last-of-type {
    margin-bottom: 10px;
  }
}

.detail .main {
  .detailCol2 {
    width: calc(~"100% - " (@image-width + @image-right-margin));
    display: inline-block;
    margin-top: 1px;
  }
  .author {
    margin-top: 6px;
  }
  .license {
    // The next three parameters limit the license text to one line with an ellipsis if necessary.
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.report-book button,
.deleteDialog button {
  /*[empty]margin-right:;*/
  margin-right: 4px;
}

.modal-header {
  font-size: 18pt;
  font-weight: bold;
  border-bottom: 1px solid transparent;

  .close {
    font-weight: bold;
    font-size: 18pt;
  }
}

.ccmodal {
  top: 15%;
}

img.ccLogo {
  width: 88px;
  height: 31px;
  float: none;
}

span.bookName {
  font-style: italic;
}

div.delete-actions {
  padding-top: 15px;
}

i.icon-trash {
  float: left;
  // These transforms make the trash icon from glyph-icons about the right size
  // If you think of taking them out, make sure you haven't shrunk the delete icon.
  // If you know a better way to grow it (or a better icon), go for it.
  transform: scale(2, 2);
  -ms-transform: scale(2, 2); /* IE 9 */
  -moz-transform: scale(2, 2); /* Firefox */
  -webkit-transform: scale(2, 2); /* Safari and Chrome */
  -o-transform: scale(2, 2); /* Opera */
  margin-top: 8px;
  width: 20px;
  font-size: 8pt;
  color: lightgrey;
}

i.icon-hidden {
  visibility: hidden;
}

i.abuseIcon {
  float: left;
  margin-top: 5px;
  margin-right: 22px;
  width: @icon-button-size;
  height: @icon-button-size;
  background-image: url("reportAbuse.svg");
  background-size: @icon-button-size @icon-button-size; // so it scales the image rather than clipping
}

.detail .main {
  a.read {
    width: 100%;
    @media (min-width: @phoneMinWidth) {
      width: calc(~"100% - " (@image-width + @image-right-margin));
    }
    display: block;
    margin-left: auto;

    button {
      width: 100%;
      .iconAndLabel {
        margin-left: auto;
        margin-right: auto;
        display: block;

        img {
          margin-right: 5px;
          height: 22px;
          padding-bottom: 4px;
        }
        span {
          font-weight: bold;
          font-size: 14pt;
        }
      }
    }
  }

  h2 {
    font-size: 12pt;
    font-weight: bold;
  }

  .shellbook {
    width: calc(~"100% - " (@image-width + @image-right-margin));
    margin-bottom: 16px;
    display: block;
    margin-left: auto;
    button {
      border-color: #d65648;
      border-width: 2px;

      display: block;
      margin-left: auto;
      margin-right: auto;
      img {
        height: unset;
        margin-top: 2px;
      }
      .subtext {
        color: #979797;
        font-size: 9pt;
      }
      span {
        margin-left: auto;
        margin-right: auto;
        display: contents;
        span {
          line-height: 16px;
        }
      }
    }
  }

  .downloads {
    margin-top: 32px;
    .download-buttons {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-right: 25px;
      }
      img {
        height: 50px;
      }
      a.bloomReaderDownload {
        color: black;
        width: 60px;
        img {
          height: 52px; // bit taller to compensate for being thinner
          margin-top: -1px; // scooch it up so it is still centered with the other two
          // margin-left: auto;
          // margin-right: auto;
          display: block;
        }
        div {
          text-align: center;
          line-height: 14px;
          height: 30px;
          width: 50px; // we want it to wrap
          margin-left: -8px; // move it to the left so, at least in English, it looks centered
        }
      }
    }
  }

  .playStore {
    margin-top: 8px;
    img {
      width: 170px;
      margin-left: -10px;
      margin-top: -10px;
    }
  }

  button {
    min-height: @icon-button-size-large;
    //max-width: 155px;
    white-space: unset;
  }

  // Hack: adding span child of button because button is not a valid flex container
  button > span {
    display: flex;

    > img {
      margin-right: 10px;
      max-width: 20px;
    }

    > span {
      text-align: left;
    }
  }

  img.large-icon {
    height: @icon-button-size-large;
    margin-right: @button-horizontal-spacing;
  }
}

.actions {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  display: flex;
  a:hover {
    text-decoration: none;
  }
}

.returnToLibrary a {
  display: flex;
  align-items: center;
  font-size: 14pt;
}

.returnToLibrary a:hover {
  text-decoration: none;
}

// temporary way of showing that a book is in the (one, Featured) bookshelf.
i.inBookshelf {
  background-color: green;
}

#harvestPanelWrapper {
  & .hidden {
    display: none;
  }

  padding: 30px;
  padding-top: 20px;

  background-color: @lightGray;

  // Match the bootstrap "modal" feel
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  // The harvest panel is pulled in from BloomLibrary2 as a react component.
  // A few of the styles don't work well in this context and need to be adjusted.
  #harvestPanel {

    .MuiBox-root {
      background-color: white;
    }

    .MuiInputBase-root {
      font-size: 1em //must override 1rem which is too small in bloomlibrary.org
    }
    .MuiFormHelperText-root {
      font-size: 0.75em //must override 0.75rem which is too small in bloomlibrary.org
    }
    .MuiButton-root {
      font-size: 0.875em //must override 0.875rem which is too small in bloomlibrary.org
    }
  }
}
// The select box menu is actually added to the dom outside #harvestPanelWrapper...
.MuiPopover-root .MuiMenuItem-root {
  font-size: 1em //must override 1rem which is too small in bloomlibrary.org
}