<div class="detail">
    <div class="modal-header">

        <!--<a href="#" class="close" ng-click="close()>x</a>-->
        <div class="close" ng-click="close()">x</div>
    </div>
    <div class="modal-body">
        <img ng-src="{{book.baseUrl | makeDetailSizedThumbnailUrl}}" />
        <div class="detailCol2">
            <div class="title">{{book.title}}</div>
            <div class="summary" ng-hide="!book.summary">Summary: {{book.summary}}</div>
            <div class="detailPages">Pages: {{book.pageCount}}</div>
            <div class="languages" ng-show="book.langPointers.length">
                Languages: <span ng-repeat="lang in book.langPointers"><a ng-href="http://www.ethnologue.com/language/{{lang.ethnologueCode}}" target="_blank">{{lang.name}}</a><span ng-hide="$last">, </span></span>
            </div>
            <div class="copyright">{{book.copyright}}</div>
            <div class="license">
                License: <a href="javascript:void(null);" ng-click="showLicense()">{{book.license}}</a><span ng-hide="!book.licenseNotes">. (</span>{{book.licenseNotes}}<span ng-hide="!book.licenseNotes">)</span>
            </div>
            <!--div class="credits">{{book.credits  }}</div-->
            <div class="status">
                Uploaded: {{book.updatedAt | cleanDate}} by
                <a ng-show="canReportViolation" href="mailto:{{book.uploader.email}}?subject=A%20request%20about%20a%20book%20you%20contributed%20to%20bloomlibrary.org:%20{{book.title}}%20({{book.objectId}})&body=This%20book%20may%20be%20found%20at%20{{location}}.">{{book.uploader.email | obfuscate}}</a>
                <a ng-hide="canReportViolation" href="" ng-click="showPleaseLogIn()">{{book.uploader.email | obfuscate}}</a>
            </div>
            <div class="tags" ng-show="book.tags.length">
                Tags: <span ng-repeat="tag in book.tags"><i class="icon-tag"></i>{{tag}} </span>
            </div>
            <div class="unfloat"></div>
        </div>
        <div class="actions">
            <a ng-hide="canReportViolation" href="" ng-click="showPleaseLogIn()"><i tooltip="Report violation of this site's terms of use" tooltip-placement="right" class="abuseIcon"></i></a>
            <a ng-show="canReportViolation" href="mailto:abuse@bloomlibrary.org?subject=Reporting%20a%20violation%20of%20bloomlibrary.org%20terms%20of%20use%20for%20the%20book:%20{{book.title}}%20({{book.objectId}})&body=Please%20edit%20this%20message%20and%20explain%20clearly%20how%20this%20book%20violates%20the%20bloomlibrary.org%20terms%20of%20use.%0D%0AFor%20example:%0D%0A
%20%20-%20the%20content%20of%20this%20book%20could%20harm%20people%0D%0A%20%20-%20this%20book%20was%20posted%20without%20the%20copyright%20holder's%20permission.%0D%0AThis%20book%20may%20be%20found%20at%20{{location}}."><i tooltip="Report violation of this site's terms of use" tooltip-placement="right" class="abuseIcon"></i></a>
            <a href="" ng-click="showDeleteDialog()"><i tooltip="Delete this book" tooltip-placement="right" ng-class="{'icon-trash': true, 'icon-hidden':!canDeleteBook}"></i></a>
            <a href="" ng-click="chooseBookshelves()"><i tooltip="Add/Remove book from bookshelf" tooltip-placement="right" ng-class="{'icon-folder-open': true, 'icon-hidden':!canSetBookshelf, inBookshelf: isBookFeatured}"></i></a>
            <a ng-href="{{book.baseUrl | makePreviewUrl}}" pdfoverlay>

           <div id="bottomRowBigButtons">
               <button type="button" class="btn btn-lg"><i class="icon-eye-open"></i>  Preview</button></a>
                <a ng-href="{{book.bookOrder}}"  tooltip="Download to the Bloom software on your computer, so that you can use it as a shell book." ng-hide="!skipDownloadPage">
                    <button type="button" class="btn btn-lg"><i class="icon-download"></i>  Open in Bloom</button></a>
                <a ui-sref="downloadBook({bookId: book.objectId})" ng-hide="skipDownloadPage" tooltip="Download to the Bloom software on your computer, so that you can use it as a shell book.">
                    <button type="button" class="btn btn-lg"><i class="icon-download"></i>  Open in Bloom</button></a>
                <button id="OK" type="button" class="btn btn-primary btn-lg" ng-click="close()">Close</button>
           </div>
        </div>
     </div>
</div>
