.modal-dialog
    // "modal-___" are bootstrap classes used to create the modal look.
    // We explicitly use these classes for all the pages which look like modals but aren't
    // such as Log In, Sign Up, Here It Comes, and the download preflight
    .modal-content
        .report-book
            .modal-header
            main.modal-body
                img(ng-src='{{book.baseUrl | makeThumbnailUrl}}' alt="cover thumbnail")
                .detailCol2
                    h1.title.notranslate {{book.title}}
                    .summary(ng-show='book.summary')
                        span.fori18n Summary:
                        = ' '
                        span.notranslate {{book.summary}}
                    .copyright {{book.copyright}}
                    .license
                        span.fori18n License:
                        = ' '
                        span.notranslate {{book.license}}
                .unfloat
                .actions
                    div(ng-show='canReportViolation')
                        form(ng-submit='report()', name='report-book-form')
                            .input-wrapper
                                label(for='concerns') What concerns do you have about this book?
                                textarea#concerns( ng-model='concerns', focus-on-load, required)
                            div
                                div Replies will be sent to the email address you provided when you signed up:
                                .notranslate {{userEmailAddress}}
                            .pull-right
                                a.cancelBookDownload(ng-click='cancel()') Cancel
                                button#Send.btn.btn-primary(type='submit') Send
                    div(ng-hide='canReportViolation')
                        | Please 
                        a(href='/login') log in
                        |  to report a concern you have with this book.
