.staticPage
	P Bloom currently requires Microsoft Windows, but doesn't require any money, nor an internet connection. If you're using a Mac, you can run it using&nbsp;
	a(href="http://www.parallels.com/products/desktop/") Parallels
	| &nbsp;or another&nbsp;
	a(href="http://lifehacker.com/5714966/five-best-virtual-machine-applications") Virtual Machine
	| . We're also hard at work on a Linux version.

	h3 Prerequisites
	ul
		li XP SP3, Vista SP1, Windows 7 SP1, or Windows 8.
		li
			a(href='http://www.microsoft.com/en-us/download/details.aspx?id=17718', target='_blank') .Net 4.0
		li
			| Adobe Reader (Acrobat). Has been tested with Versions 11 (XI), 10 and 7. Here's where to find
			a(href='ftp://ftp.adobe.com/pub/adobe/reader/win/', target='_blank') &nbsp;standalone/offline installers
			| . Sorry, your favorite alternative reader is not a substitute.
		li
			| (Optional)
			a(href='#/artofreading') &nbsp;Art Of Reading
	h3 Installers
	div
		iframe.download-version-frame(src='http://bloomlibrary.org/channels/DownloadPointers_Release.htm', height='50', width='100%', frameborder='0', scrolling='no')
	div
		iframe.download-version-frame(src='http://bloomlibrary.org/channels/DownloadPointers_Beta.htm', height='50', width='100%', frameborder='0', scrolling='no')
	.para
		a(href='#/installers/old') Older Versions
	h3 Font
	.para
		| By default, Bloom uses SIL's
		a(href='http://scripts.sil.org/Andika_download', target='_blank') &nbsp;Andika literacy font
		| . Do you need a version with one or more characters shaped differently to fit how people write in your language? You can also easily
		a(href='http://scripts.sil.org/ttw/fonts2go.cgi', target='_blank') &nbsp;create your own version
		| by selecting among alternate character shapes. Of course, you can also change the font of a book collection to something else.
