.staticPage
	H3 Linux Version
	a(href='#/installers/linux') Instructions here
	h2 Windows Version
	h3 Prerequisites
	ul
		li Windows 7 SP1, 8, 8.1
		li We don't test XP SP3 or Vista SP1 anymore, but they worked last time we did.
		li
			a(href='http://www.microsoft.com/en-us/download/details.aspx?id=17718', target='_blank') .Net 4.0
		li If you're using a Mac, you can run Bloom using&nbsp;
			a(href="http://www.parallels.com/products/desktop/") Parallels
			| &nbsp;or another&nbsp;
			a(href="http://lifehacker.com/5714966/five-best-virtual-machine-applications") Virtual Machine
		li
			| Adobe Reader (Acrobat). Has been tested with Versions 11 (XI), 10 and 7. Here's where to find&nbsp;
			a(href='ftp://ftp.adobe.com/pub/adobe/reader/win/', target='_blank') standalone/offline installers
			| . Sorry, your favorite alternative reader is not a substitute (the forthcoming Bloom 2.1 version will remove this requirement).
		li
			| (Optional)&nbsp;
			a(href='#/artofreading') Art Of Reading
	h3 Installers
	div
		iframe.download-version-frame(src='http://bloomlibrary.org/channels/DownloadPointers_Release.htm', height='50', width='100%', frameborder='0', scrolling='no')
	div
		iframe.download-version-frame(src='http://bloomlibrary.org/channels/DownloadPointers_Beta.htm', height='50', width='100%', frameborder='0', scrolling='no')
	.para
		a(href='#/installers/old') Other Versions
	h3 Font
	.para
		| By default, Bloom uses SIL's&nbsp;
		a(href='http://scripts.sil.org/Andika_download', target='_blank') Andika literacy font
		| . Do you need a version with one or more characters shaped differently to fit how people write in your language? You can also easily&nbsp;
		a(href='http://scripts.sil.org/ttw/fonts2go.cgi', target='_blank') create your own version
		| &nbsp;by selecting among alternate character shapes. Of course, you can also change the font of a book collection to something else.
