mixin link(href)
	| &nbsp;
	a(href=href)
		block
	| &nbsp;

.staticPage
	html
		head
			title Bloom installation instructions
			meta(content='text/html; charset=UTF-8', http-equiv='content-type')
		body
			h2
				a
				| Bloom Installers
			iframe.download-version-frame(src='http://bloomlibrary.org/channels/DownloadPointers_Release.htm', frameborder='0', scrolling='no')
			.versionNotes
				| Requires Windows XP SP3, Vista SP1, 7 SP1, 8, or 8.1 and
				+link('http://www.microsoft.com/en-us/download/details.aspx?id=17718&sa=D&sntz=1&usg=AFQjCNF8zPaQaiipP4wEHEmHtf24xnaVCA') .NET 4.0
				|(part of Windows, so you probably already have it). Uninstall Version 1 or 2 before installing this. Older Windows Versions are
				+link('#/installers/old') here
				| , and Linux Installation Instructions are
				+link('#/installers/linux') here.
			iframe.download-version-frame(src='http://bloomlibrary.org/channels/DownloadPointers_Beta.htm', frameborder='0', scrolling='no')
			.versionNotes Not for Windows XP. Requires
				+link('http://www.microsoft.com/en-us/download/details.aspx?id=40779') .Net 4.5.
				|Works best when
				+link('http://get.adobe.com/reader/enterprise/') Adobe Reader
				| is also installed. Includes the Andika New Basic font. Can be installed alongside Bloom 3.0.

			//H4 Linux 3.1 Beta
				+link('#/installers/linux') Installation Instructions



			h2 The Art of Reading
			p
				| We also recommend that you download and install the
				+link('#/artofreading') Art Of Reading
				|illustration collection. This free collection contains more than 10,000 line drawings suitable for use in reading materials. Bloom is designed to enable you to search and select illustrations from this collection once you have installed it.
			h2
				a
				| Fonts
			p
				| Bloom installs SIL&rsquo;s&nbsp;
				a(href='http://scripts.sil.org/cms/scripts/page.php?item_id=Andika') Andika
				| &nbsp;font which was designed specifically for easier reading in roman scripts. You can also use a font you already have installed on your computer, but it needs to be a Unicode font. SIL offers free Unicode fonts for a variety of needs:
			ul
				li
					a(href='http://scripts.sil.org/cms/scripts/page.php?item_id=Andika_download') Andika
					| , designed for literacy materials, especially for beginning readers
				li
					a(href='http://scripts.sil.org/cms/scripts/page.php?item_id=AnnapurnaSIL') Annapurna
					| , for languages that use Devanagari script
				li
					a(href='http://scripts.sil.org/cms/scripts/page.php?item_id=Scheherazade') Scheherezade
					| , an extended Arabic script font
				li
					a(href='http://scripts.sil.org/cms/scripts/page.php?item_id=AbyssinicaSIL_Download') Abyssinica
					| , an Ethiopic script font (also sometimes called &ldquo;fidel&rdquo;
					| script)
			p
				| Bloom assumes that you already have a way to type your language. If you need a way to type your language and lack one, you might consider&nbsp;
				a(href='http://keyman.com/desktop/download.php') Keyman
				| , available in a free edition.
			h2
				a
				| Help getting started and learning Bloom
			p
				| Bloom is easy to use, but you may find it helpful to watch the&nbsp;
				a(href='http://tiny.cc/bloomVimeo')
					| Bloom training videos
				| . Start with&nbsp;
				a(href='https://vimeo.com/channels/bloomlibrary') Bloom: who is it for?
			p You can download all the Bloom training videos to your computer so that you can share them with people who don't have good or inexpensive internet connections.
				| &nbsp;
				a(href='http://tiny.cc/bloomHDVideos') High-resolution videos
				| &nbsp;or&nbsp;
				a(href='http://tiny.cc/bloomSDVideos') Low-resolution videos (smaller files)

