.staticPage
	h1 Getting Bloom On Linux
	P Bloom 3 is currently available
		strong
			|&nbsp; for testing
		| on Ubuntu Precise and Trusty.

	H3 Step 1: Add the repository to your sytem
	pre
		sudo echo have sudo
		wget -qO - http://packages.sil.org/sil.gpg | sudo apt-key add -
		wget -qO - http://linux.lsdev.sil.org/downloads/sil-testing.gpg | sudo apt-key add -
		sudo add-apt-repository "deb http://packages.sil.org/ubuntu $(lsb_release -sc) main"
		sudo add-apt-repository "deb http://packages.sil.org/ubuntu $(lsb_release -sc)-experimental main"
		sudo add-apt-repository "deb http://linux.lsdev.sil.org/ubuntu $(lsb_release -sc) main"
		sudo add-apt-repository "deb http://linux.lsdev.sil.org/ubuntu $(lsb_release -sc)-experimental main"
		sudo apt-get update
		sudo apt-get dist-upgrade
	H3 Step 2: Add Bloom Desktop
	pre
		sudo apt-get install bloom-desktop

	H3 Reporting Errors While Testing

	p Start Bloom in a new Terminal. If Bloom dies/crashes,
		ol
			li Create a .txt file from the contents of the Terminal.
			li Look at /var/crash for a file created about the time of the Bloom crash.
			li Attach those files with information about what OS you were using (precise, trusty) (64bit, 32bit) and where the OS was running (Virtual Machine, Real hardware), and what you were doing.  Using Screenshot is a plus for when you feel that something is not quite right about what is happening.
			li Mail to issues at bloomlibrary dot o r g.
