.staticPage(ng-controller='InstallersCtrl')
	h3 All Bloom Installers
	.row(ng-repeat='file in files')
		.col-md-3
			a(ng-href='{{file.url}}', analytics-on, analytics-event="Download Installer", analytics-installer="{{file.name}}") {{file.name}}
		.col-md-3
			| {{file.date | date:'dd/MMM/yyyy'}}
