mixin SIL(name, rolls)
	p
		=name
		| &nbsp;(
		a(href='http://sil.org') SIL International
		| ) :&nbsp;
		=rolls

mixin link(display, url)
	a(href=url)
		=display

.staticPage
	h3 Team
	| Our team is constantly changing, with each version created by a slightly different group. Here are all the people that have ever worked on Bloom:
	+SIL('Eberhard Beilharz', 'Linux Programming')
	+SIL('John Hatton','Program Manager, UX Design, Programming')
	+SIL('Phil Hopper', 'Programming')
	+SIL('Marlon Hovland','Documentation')
	+SIL('Susanna Imrie','Training Videos')
	+SIL('Gordon Martin','Programming')
	+SIL('Steve McConnel', 'Linux Programming')
	+SIL('David Moore', 'Linux Programming')
	+SIL('Sue Newland', 'Testing')
	+SIL('Marvin Nichols','Testing')
	+SIL('Andrew Polk','Programming')
	+SIL('John Thomson','Dev Lead, Programming')
	+SIL('Len Wallstrom', 'Testing')
	p Bruce Cox & Jeremy Brown have contributed javascript code.
	h3 Bloom relies on the following open source works of others:
	ul
		li
			a(href='http://code.google.com/p/autofac/') Autofac
		li Gecko embedded browser: Mozilla
		li
			a(href='https://bitbucket.org/geckofx/geckofx') GeckoFX
			|  .NET wrapper around Gecko: Skybound Software, Tom Hindle (SIL International), and other contributors
		li
			a(href='http://dotnetzip.codeplex.com/') Iconic DotNetZip
		li JSON.net
		li LibTidy
		li ManagedTidy
		li NUnit
		li
			a(href='http://ckeditor.com/') CKEditor
		li
			| Palaso Library: SIL International and&nbsp;
			a(href='http://palaso.org') Payap Language Software
			| , Eric Albright (formerly of SIL)
		li
			a(href='http://pdfsharp.com/PDFsharp/') PdfSharp
			| : empira Software GmbH
		li
			a(href='http://call.canil.ca') SynPhony
			| : Norbert Rennert (SIL International)
		li
			a(href='http://code.google.com/p/wkhtmltopdf') wkhtmltoimage
			| : Jan Habermann, Christian Sciberras and Jakob Truelsen
		li
			a(href="http://webfx.eae.net/") WebFX
		li
			a(href="https://github.com/KevinSheedy/jquery.alphanum") jquery.alphanum
		li
			+link("longpress","https://github.com/quentint/long-press")
			| : Quentint
		li
			+link("squirrel","https://github.com/squirrel/squirrel.windows") : Paul Betts
		li
			+link("Readium","https://github.com/readium/readium-js")
		li
			+link("toastr","https://github.com/CodeSeven/toastr")

	h3 Thanks
	p To our colleagues who invested time in giving feedback and encouragement <em>before</em> Bloom became famous :-) Michael Cochran, Jon Coombs, David Coward, Paul Frank(
		+link("SIL LEAD","http://www.sil-lead.org/")
		|), Suzanne Hatton, Hannes Hirzel, Cambell Prince, Glenys Waters

	+link("BrowserStack","http://BrowserStack.com")
	| , for a free open-source subscription to their <strong>amazing</strong> multi-browser, multi-platform testing service.
	p
	p JetBrains for free open-source license for&nbsp;
		a(href='http://www.jetbrains.com/resharper/') Resharper
		| , which keeps our c# code clean and agile,&nbsp;
		a(href='http://build.palaso.org') TeamCity
		| , which we use for continuous integration/builds, and&nbsp;
		a(href='http://www.jetbrains.com/webstorm/') WebStorm
		| , for editing html and javascript, and&nbsp;
		a(href='https://www.jetbrains.com/youtrack/') YouTrack
		| , where we keep bug reports.
	p Rally/Flowdock, for a free open-source license for&nbsp;
		a(href='https://www.flowdock.com') FlowDock
		| , where we keep in touch all day even though we are distributed all over.
