mixin SIL(name, rolls)
	p
		=name
		&nbsp;(
		a(href='http://sil.org') SIL International
		| ) :&nbsp;
		=rolls

.staticPage
	h3 Credits
	+SIL('Eberhard Beilharz', 'Linux Programming')
	+SIL('John Hatton','Program Manager, Design, Programming, CSS')
	+SIL('Phil Hopper', 'Programming')
	+SIL('Marlon Hovland','Documentation')
	+SIL('Gordon Martin','Programming, CSS')
	+SIL('Marvin Nichols','Testing')
	+SIL('Andrew Polk','Programming')
	+SIL('John Thomson','Manager for Versions 2 and 3, Programming')
	+SIL('Len Wallstrom', 'Testing')
	p Bruce Cox & Jeremy Brown have contributed javascript code.
	h3 Bloom relies on the following open source works of others:
	ul
		li
			a(href='http://code.google.com/p/autofac/') Autofac
		li Gecko embedded browser: Mozilla
		li
			a(href='https://bitbucket.org/geckofx/geckofx') GeckoFX
			|  .NET wrapper around Gecko: Skybound Software, Tom Hindle (SIL International), and other contributors
		li
			a(href='http://dotnetzip.codeplex.com/') Iconic DotNetZip
		li JSON.net
		li LibTidy
		li ManagedTidy
		li NUnit
		li
			a(href='http://ckeditor.com/') CKEditor
		li
			| Palaso Library: SIL International and&nbsp;
			a(href='http://palaso.org') Payap Language Software
			| , Eric Albright (formerly of SIL)
		li
			a(href='http://pdfsharp.com/PDFsharp/') PdfSharp
			| : empira Software GmbH
		li
			a(href='http://call.canil.ca') SynPhony
			| : Norbert Rennert (SIL International)
		li
			a(href='http://code.google.com/p/wkhtmltopdf') wkhtmltoimage
			| : Jan Habermann, Christian Sciberras and Jakob Truelsen
		li
			a(href="http://webfx.eae.net/") WebFX
		li
			a(href="https://github.com/KevinSheedy/jquery.alphanum") jquery.alphanum

	h3 Thanks
	p Glenys Waters
	p Payap University Linguistics Institute, Chiang Mai, Thailand
	p Michael Cochran, Cambell Prince, Jon Coombs, David Coward, Hannes Hirzel
	p JetBrains for free open-source license for&nbsp;
		a(href='http://www.jetbrains.com/resharper/') Resharper
		| , which keeps our c# code clean and agile,&nbsp;
		a(href='http://build.palaso.org') TeamCity
		| , which we use for continuous integration/builds, and&nbsp;
		a(href='http://www.jetbrains.com/webstorm/') WebStorm
		| , for editing html and javascript.
		a(href='https://www.jetbrains.com/youtrack/') YouTrack
		| , where we keep bug reports.
	p Microsoft, for donated licenses of Visual Studio.
	p Rally/Flowdock, for free open-source license for&nbsp;
		a(href='https://www.flowdock.com') FlowDock
		| , where we keep in touch all day even though we are distributed all over.
