mixin SIL(name, roles)
	div
		span.notranslate
			=name
			| &nbsp;(
			a(href='https://www.sil.org/') SIL International
			| ):&nbsp;
		span.needed-for-localization
			=roles

mixin link(display, url)
	a(href=url)
		=display

mixin linkPlusSpace(display, url)
	a(href=url)
		=display
	| &nbsp;

main.staticPage
	h3 Team
	| Our team is constantly changing, with each version created by a slightly different group. Here are all the people who have ever worked on Bloom:
	br
	br
	+SIL('Eberhard Beilharz', 'Linux Programming')
	+SIL('John Hatton','Program Manager, UX Design, Programming, CSS')
	+SIL('Phil Hopper', 'Programming')
	+SIL('Marlon Hovland','Documentation')
	+SIL('Susanna Imrie','Training Videos')
	+SIL('Gordon Martin','Programming, CSS')
	+SIL('Steve McConnel', 'Linux Programming')
	+SIL('David Moore', 'Linux Programming')
	+SIL('Sue Newland', 'Testing')
	+SIL('Marvin Nichols','Testing')
	+SIL('Andrew Polk','Programming')
	+SIL('John Thomson','Dev Lead, Programming')
	+SIL('Len Wallstrom', 'Testing')
	div Bruce Cox and Jeremy Brown have contributed javascript code.
	h3 Bloom relies on the following open source works of others:
	ul
		li
			+link("Autofac","https://code.google.com/archive/p/autofac/")
		li
			+link("CKEditor","https://ckeditor.com/")
		li
			+link("Fancybox", "https://www.npmjs.com/package/fancybox")
		li Gecko embedded browser: Mozilla
		li
			+linkPlusSpace("GeckoFX","https://bitbucket.org/geckofx/geckofx")
			| a .NET wrapper around Gecko: Skybound Software, Tom Hindle (SIL International), and other contributors
		li
			+link("Ionic DotNetZip","https://archive.codeplex.com/?p=dotnetzip")
		li
			+link("jquery.alphanum","https://github.com/KevinSheedy/jquery.alphanum")
		li JSON.net
		li
			+link("Ghostscript","https://www.ghostscript.com/")
		li LibTidy
		li
			+link("LongPress","https://github.com/quentint/long-press")
			| : Quentint
		li ManagedTidy
		li NUnit
		li
			| Palaso Library: SIL International and&nbsp;
			+link("Payap Language Software","https://palaso.org")
			| , Eric Albright (formerly of SIL)
		li
			+link("PdfSharp","http://pdfsharp.com/PDFsharp/")
			| : empira Software GmbH
		li
			| PortableDevice library from&nbsp;
			+link("PodcastUtilities","https://github.com/derekwilson/PodcastUtilities")
			| , Andrew Trevarrow and Derek Wilson (
			+link("license","https://github.com/BloomBooks/PodcastUtilities/blob/master/LICENSE.txt")
			| )
		li
			+link("SynPhony","https://github.com/canilcomputer/synphony-community-edition/wiki/Home-for-SynPhony-Community-Edition")
			| : Norbert Rennert (SIL International)
		li
			+link("WebFX","http://webfx.eae.net/")
		li
			+link("squirrel","https://github.com/squirrel/squirrel.windows")
			| : Paul Betts
		li
			+link("Readium","https://github.com/readium/readium-js")
		li
			+link("toastr","https://github.com/CodeSeven/toastr")
		li
			+link("LAME", "http://lame.sourceforge.net/")

	h3 Thanks
	p To our colleagues who invested time in giving feedback and encouragement <em>before</em> Bloom became famous :-)
	p Michael Cochran, Jon Coombs, David Coward, Paul Frank&nbsp;(
		+link("SIL LEAD","https://www.sil-lead.org/")
		|), Suzanne Hatton, Hannes Hirzel, Cambell Prince, Glenys Waters, Payap University Linguistics Institute (Chiang Mai, Thailand)
	p
		+link("BrowserStack","https://www.browserstack.com/")
		| , for a free open-source subscription to their <strong>amazing</strong> multi-browser, multi-platform testing service.
	p
	p JetBrains for free open-source licenses for:
		ul
			li
				+link("Resharper","https://www.jetbrains.com/resharper/")
				| , which keeps our c# code clean and agile,
			li
				+link("TeamCity","https://build.palaso.org/")
				| , which we use for continuous integration/builds,
			li
				+link("YouTrack","https://www.jetbrains.com/youtrack/")
				| , where we keep bug reports, and
			li
				+link("WebStorm","https://www.jetbrains.com/webstorm/")
				| , for editing html and javascript.
	p Microsoft, for donated licenses of Visual Studio.
	p
		+link("Trello","https://trello.com")
		| , which helps us organize ideas and plans.
	p Rally/Flowdock, for a free open-source license for&nbsp;
		+link("FlowDock","https://www.flowdock.com")
		| , where we keep in touch all day even though we are distributed all over.
	h3 Image Credits
	p
		+linkPlusSpace("USB","https://thenounproject.com/term/usb/1858/")
		| icon designed by&nbsp;
		+linkPlusSpace("Dara Ullrich","https://thenounproject.com/Dara%20Ullrich/")
		| from The Noun Project
	p Earth icon designed by Francesco Paleari from The Noun Project
	p Network icon designed by Stephen Boak from The Noun Project
	p Leveled Reader template icon (Dashboard) by Chris Kerr from The Noun Project
	p Decodable Reader template icon (Key) by William J. Salvador from The Noun Project
