include ../common/mixins.pug

main.staticPage
    h3 Art of Reading
    img.left(src="assets/chicken.png" width="164" height="150" alt="line drawing of chicken")/
    div
        strong: em The Art Of Reading Free Edition
        |  is an optional addition to
        +link("https://software.sil.org/wesay") WeSay
        |  and
        +link("/landing") Bloom
        |  that gives you easy access to over 10,000 black &amp; white illustrations from around the world, now with an even more permissive Creative Commons license,
        +link("https://creativecommons.org/licenses/by-sa/4.0/") BY-SA
        | .
    br
    div
        +link("https://s3.amazonaws.com/bloomlibrary.org/ArtOfReading/ArtOfReading-Free-Setup3.3.exe") Download Art Of Reading version 3.3 Installer
        |  (320 Megabytes, for Microsoft Windows)
        br
        | For WeSay and Bloom before 4.0, use this
        +link("http://downloads.palaso.org/ArtOfReading/Art%20Of%20Reading%20Free%20Setup%203.2.exe") older version (3.2).

    br
    div
        | For Linux, assuming you have followed the
        +link("/installers/linux") instructions for installing Bloom on Linux
        | , you just need one more command to install Art of Reading version 3.3:

        pre     sudo apt-get install art-of-reading3
        | For WeSay and Bloom before 4.0, the older version of Art of Reading (3.0.2) is required.  It has a different package name so that the older and newer versions of Art of Reading can coexist on the same system.  The command to install the older version is

        pre     sudo apt-get install art-of-reading
        | Newer versions of Bloom can use the older version of Art of Reading, but its images have a more restrictive license embedded in them.
    br
    h5 Metadata

    div
        | A special feature of this package is that we have embedded, in the image files themselves, information on where they came from, what their license is, etc. This will allow programs to help you make sure you are using the images legally.
    br
    h5 Note
    div
        | This is not the full "
        +link-without-space("https://www.ethnologue.com/show_product.asp?isbn=9781556712418") International Illustrations: The Art Of Reading
        | ". That product, which comes as a DVD, includes 3rd-party commercial software for finding the image you want. In contrast, the package offered here contains only the images themselves, and is only useful when used from a program that can help you find images (namely WeSay and Bloom).
