main.staticPage#bloom-reader-privacy-policy
    h2 Bloom Reader Privacy Policy

    h4 What Information Might We Collect?
    p Bloom Reader may collect the following type of non-personally identifiable information:
    ol
        li Type of device (
            em e.g. Samsung S3
            | ).
        li Version of operating system (
            em e.g. Android 4.2
            | ).
        li City/Country where connected to internet (
            em e.g. Nairobi, Kenya
            | ).
        li Mobile provider
        li What books were read in what language, how many pages, features of the book (e.g. Talking, Sign Language, Motion), etc.
        li Scores for comprehension quizzes and other interactive activities.

    p If analytics for the app is enabled and the device is connected to the internet, the app will connect from time to time to send usage information to a service provider.
    p Bloom Reader reports usage anonymously. That is, it does not intentionally collect any "personally identifiable information".

    h4 What Do We Use Your Information For?
    p Usage statistics help people publishing books to know if their books are reaching the intended audience. We use reading statistics to generate reports on how many people use the app from what cities.  We determine what books are popular, which get finished, and what languages are being read. These statistics are then used to create charts which are shared publicly on the internet. So for example if you were the only person using the app in your city, and someone knew you were the one, they might be able to figure out what books you were reading. If controversial material became popular in some region, someone could learn that from looking at our reports.

    h4 Do We Disclose Any Information To Outside Parties?
    p We only collect anonymous information, but we do then aggregate that and share the information publicly.

    h4 Your Consent
    p By using Bloom Reader, you consent to our privacy policy.

    h4 Changes To Our App Privacy Policy
    p If we decide to change our app privacy policy, we will post those changes on this page and update the modification date below. You can see a full history of changes to this policy #[a(href='https://github.com/BloomBooks/BloomLibrary/commits/develop/src/app/modules/static/bloom-reader-privacy-policy.tpl.pug') here].

    .modification-date This policy was last updated on
        = ' '
        span.date August 28, 2019
        | .
