.staticPage
	h3 Open Source
	P Bloom is Licensed under the&nbsp;
		a(href='http://sil.mit-license.org/') MIT License
		| .
	P The
		= ' '
		a(href='https://github.com/BloomBooks/BloomLibrary') source for this web site
		= ' '
		| and the
		= ' '
		a(href='https://github.com/BloomBooks/BloomDesktop') source for the Bloom Desktop
		= ' '
		| are both on github.