include ../common/mixins.pug

main.staticPage
	h3 Have you seen Bloom's
		+link('https://vimeo.com/channels/bloomlibrary/videos/sort:preset/format:detail') instructional videos
		| ?
	p They're really helpful! And you can download them to your computer so that you can share them with people who don't have cheap internet. The trick to seeing the download button is to click on the link in the lower-left-hand corner, the one that starts with "# vimeo.com".

	h3 Have a question, kudos, suggestion, or announcement?
	p Join us on the
		+link('https://community.software.sil.org/c/bloom') Bloom Forum
		| . If you prefer to interact via email, just enable the forum's mailing list mode.
	h3 Want some help converting existing books into Bloom format?
	P If you're building new shellbooks or just converting existing ones, please drop the Bloom Librarian a note about your goals by writing to librarian (at) bloom library (dot) org.

	h3 Think you've found a bug?
	P You can submit bug reports either by choosing Help:Report a Problem or
		+link-followed-by-space('mailto:issues@bloomlibrary.org') an email
		| which goes into our bug tracking system. Please do not submit anything that you would like to keep private, as anyone can make an account and then read what you sent.
	h3 Miscellaneous
	P Did you turn on Settings Protection (
		em mot de passe usine
		| ) and then forget Bloom's
		= ' '
		em factory password
		| ? It is
		= ' '
		em b7loom
		| . Yes we've intentionally made it easy to find for anyone who can google in English or French.


