.staticPage
	h3 Have a question, kudos, or announcement?
	a(href='https://groups.google.com/d/forum/bloom-user') Bloom Google Group
	h3 Want some help converting existing books into Bloom format?
	P If you're building new shellbooks or just converting existing ones, please drop the Bloom Librarian a note about your goals by writing to librarian (at) bloom library (dot) org.
	h3 Have a suggestion?
	P Head over to&nbsp;
		a(title='Suggestions', href='#/suggestions') the suggestions page
		| &nbsp;and then make a new suggestion or vote on other people's.
	h3 Think you've found a bug?
	P You can submit bug reports either&nbsp;
		a(href='https://jira.sil.org/issues/secure/CreateIssue!default.jspa') via the web
		| &nbsp;or via&nbsp;
		a(href='mailto:issues@bloomlibrary.org') an email
		| &nbsp;which goes into our bug tracking system. Please do not submit anything that you would like to keep private, as anyone can make an account and then read what you sent.
	h3 Miscellaneous
	P Did you turn on Settings Protection (
		em mot de passe usine
		| ) and then forget Bloom's
		em factory password
		| ? It is
		em b7loom
		| . Yes we've intentionally made it easy to find for anyone who can google in English or French.


