<div class="container loginRoot"> <!-- uses many classes from signup.less for consistency-->
	<form ng-submit="login()" name="loginform">
        <fieldset>
            <div class="well">
	<label for="usernm">Email Address</label>
	<input class="userNameInput" id="usernm" spellcheck="false" required type="email" name="usernm" ng-model="username" placeholder="your email"/>
    <div class="password">
        <div><label class="passwordLabel">Password</label></div>
        <div>
            <input class="passwordInput" spellcheck="false" required type="text" name="password" ng-model="password" placeholder="Enter your password" ng-show="showPassword"/>
            <input class="passwordInput" required type="password" name="password" ng-model="password" placeholder="Enter your password" ng-show="!showPassword"/>
        </div>
    </div>
       <div id="forgotAndShowRow">
            <a class="resetPw" ng-click="resetPassword()">Forgot password</a>
            <input type="checkbox" ng-model="showPassword"/>
            <label>Show password</label>
       </div>
    <div class="loginButton"><button class="btn  btn-primary signupBtn" type="submit">Login</button></div>
            </div>
        </fieldset>
	</form>
</div>
