div.mustAgree
    div.modal-header
        | Please agree to terms of use
        div.close.notranslate(ng-click="close()") x
    div.modal-body
        div In order to sign up for a BloomLibrary.org account, you must check the box indicating that you agree to the BloomLibrary Terms of Use.
    div.modal-footer
        div.actions.right
            button.btn.btn-primary(type="button" ng-click="close()") Close
