<div class="pleaseLogIn">
    <div class="modal-header">
        Please Log In
        <!--<a href="#" class="close" ng-click="close()>x</a>-->
        <div class="close" ng-click="close()">x</div>
    </div>
    <div class="modal-body">
        <div>To use this function, please <a href="#/login">Log In to BloomLibrary.org</a>.</div>
        <div>Bloom Library requires you to log in for several reasons:</div>
        <ul>
            <li>To search for books you uploaded, so we know whose books to search for.</li>
            <li>For actions that send an email, to make things harder for spammers.</li>
            <li>For uploading books, because we need to know who is responsible for putting the book on our site.</li>
            <li>For deleting books, because you can only delete the ones you contributed.</li>
        </ul>
        <div class="actions right delete-actions">
            <button type="button" class="btn  btn-primary" ng-click="close()">Close</button>
        </div>
    </div>
</div>